html, body{
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    font-family: "inter", sans-serif;
}
.container{
padding: 20px 0px;
}
.header{
    display: flex;
    justify-content: center;
    gap: 200px;
    max-width: 100%;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
}
.navbar{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.navbar_logo{
    width: 155px;
    height: 24px;
}
.navbar a{
    text-decoration: none;
    gap: 20px;

}

.navbar-a{
    display: flex;
    gap: 40px;
    color: black;
}
.navbar-a a{
    color: black;
}
.navbar-b{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-b1{
color:#4CAF4F;

}
.navbar-b2{
    color: white;
    padding: 10px 20px;
    background-color: #4CAF4F;
    border-radius: 6px;
}

.firstSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 559px;
    background-color: #F5F7FA;
    margin-bottom: 70px;
}
.fisrtArticle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.firstSection-left{
    width: 657px;
    height: 276px;
}
.firstSection-img{
    width: 391px;
    height: 407px;
}
.span{
    color: #4CAF4F;
}
.firstSection h1{
    font-size: 64px;
    font-weight: 600px;
}
.firstSection button{
    width: 128px;
    height: 52px;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: white;
}
.secondSection{
    margin-bottom: 70px;
}
.secondArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.secondArticle-text{
text-align: center;
}
.secondArticle-img{
width: 1440px;
max-width: 100%;
display: flex;
justify-content: space-between;
}
.thirdSection{
    max-width: 100%;
    margin-bottom: 50px;
}
.thirdArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thirdArticle-text{
    text-align: center;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 1285px;
    max-width: 100%;
    height: 280px;
}
.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 299px;
    height: 260px;
    box-shadow: 1px 1px 10px black;
    border-radius: 8px;
}
.card1-img{
    width: 65px;
    height: 56px;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 299px;
    height: 260px;
}
.card2-img{
    width: 65px;
    height: 56px;
}

.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 299px;
    height: 260px;
}
.card3-img{
    width: 65px;
    height: 56px;
}

.fourthSection{
    width: 100%;
    height: 433px;
    margin-bottom: 50px;
}
.fourthArticle{
display: flex;
justify-content: center;
gap: 200px;
align-items: center;
}
.fourthArticle-text{
    width: 661px;
    height: 268px;
}
.fourthArticle-text button{
    width: 151px;
    height: 52px;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: white;
}
.fourthArticle-img{
    width: 442px;
    height: 433px;
}
.fifthSection{
    display: flex;
    justify-content: center;
    height: 200px;
    max-width: 100%;
    background-color: #F5F7FA;
    height: 288px;
    margin-bottom: 70px;


}
.fifthArticle{

    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.fifthArticle-text{
    width: 540px;
    height: 120px;
}
.fifthArticle-dates-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.fifthArticle-dates{
    width: 540px;
    height: 160px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
.sixthSection{
    width: 100%;
    height: 434px;
    margin-bottom: 70px;
}
.sixthArticle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.sixthArticle-img{
    width: 441px;
    height: 434px;
}
.sixthArticle-text{
    width: 661px;
    height: 308px;
}
.sixthArticle-text button{
    width: 151px;
    height: 52px;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: white;
}
.seventhSection{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 390px;
    background-color: #F5F7FA;
}
.seventhArticle{
    display: flex;
    justify-content:center;
    gap: 150px;
}
.seventhArticle-text{
width: 748px;
height: 324px;

}
.seventhArticle-text h4{
color: #4CAF4F;
}
.seventhArticle-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.seventhArticle-container a{
text-decoration: none;
color: #4CAF4F;

}
.seventhArticle-logos{
    display: flex;
    gap: 20px;
}
.seventhArticle-img{
    width: 326px;
    height: 326px;
}
.eightSection{
    width: 100%;
    height: 506px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 70px;
}

.eightArticle-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 124px;
}
.eightArticle-p{
    width: 628px;
    height: 72px;
    text-align: center;
}
.eightArticle-cards{
    display: flex;
    gap: 50px;
}
.eightArticle-cards-card1{
    width: 368px;
    height: 366px;
}
.eightArticle-cards-card1-cardmin{
    background-color: #c8c8cb;
    width: 317px;
    height: 176px;
    margin-top: -50px;
}
.ninthSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
    width: 100%;
    height: 400px;
}
.ninthArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ninthArticle button{
    width: 128px;
    height: 52px;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: white;
}
.ninthSection h1{
    text-align: center;
    font-size: 64px;
}
.footer {
  background-color: #25252d;
  padding: 70px 0;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer__container {
  height: 200px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 200px;
}
.footer__brand{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__brand h2 {
  font-size: 28px;
}

.footer__columns {
  display: flex;
  gap: 200px;
}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__col h4 {
   margin: 0px;
  margin-bottom: 10px;
  font-size: 16px;
}

.footer__col a {
  color: #c8c8cb;
  text-decoration: none;
  font-size: 14px;
}

.footer__col a:hover {
  text-decoration: underline;
}
.footer-text{
    padding: 10px;
    border-radius: 8px;
}

@media(max-width:1024px){
.header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 200px;
    max-width: 100%;
    height: 50px;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;

}  
.navbar{
    width: 1440px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    gap: 20px;
}
.firstSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 1024px;
    background-color: #F5F7FA;
    margin-bottom: 70px;
}
.fisrtArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.secondArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.secondArticle-img{
    display: flex;
    justify-content: center;
    width: 100px;
    height: 100px;
}
.thirdSection{
    margin-bottom: 100px;
}
.thirdArticle{

}
.cards{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.fourthSection{
    width: 100%;
    height: 433px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1024px;
}
.fourthArticle{
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 200px;
align-items: center;
}
.seventhSection{
    width: 100%;
    height: 433px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1024px;
}
.seventhArticle{
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 200px;
align-items: center;
}
.eightSection{
        width: 100%;
    height: 433px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1500px;
}
.eightArticle{
            width: 100%;
    height: 433px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 1024px;
}
.eightArticle-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}