html, body{
    padding: 0px;
    margin: 0px;
    max-width: 100%;
    font-family: "inter", sans-serif;

}
body p{
    font-size: 16px;
    font-weight: 400px;
    color: #717171;
}
.container{
padding: 20px 0px 0px 0px;
}
.header{
    display: flex;
    justify-content: center;
    gap: 200px;
    max-width: 100%;
    height: 50px;
    align-items: center;
    margin-bottom: 10px;
}
.navbar{
    width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.navbar_logo{
    width: 155px;
    height: 24px;
}
.navbar a{
    text-decoration: none;
    gap: 20px;

}

.navbar-a{
    display: flex;
    gap: 40px;
    color: black;
}
.navbar-a a{
    color: black;
}
.navbar-b{
    display: flex;
    align-items: center;
    gap: 20px;
}
.navbar-b1{
color:#4CAF4F;

}
.navbar-b2{
    color: white;
    padding: 10px 20px;
    background-color: #4CAF4F;
    border-radius: 6px;
}
/* first styles section */
.firstSection{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 559px;
    background-color: #F5F7FA;
    margin-bottom: 70px;
}
.fisrtArticle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.firstSection-left{
    width: 657px;
    height: 276px;
}
.firstSection-img{
    width: 391px;
    height: 407px;
}
.span{
    color: #4CAF4F;
}
.firstSection h1{
    font-size: 64px;
    font-weight: 600px;
}
.firstSection button{
    width: 128px;
    height: 52px;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: white;
}
/* second styles section */
.secondSection{
    margin-bottom: 70px;
}
.secondArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.secondArticle-text{
text-align: center;
}
.secondArticle-text{
    font-size: 36px;
}
.secondArticle-img{
width: 1440px;
max-width: 100%;
display: flex;
justify-content: space-between;
}
/* third styles section */
.thirdSection{
    max-width: 100%;
    margin-bottom: 50px;
}
.thirdArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: auto;
}
.thirdArticle-text{
    text-align: center;
}
.thirdArticle-text-container{
    width: 542px;
    height: 88px;
}
.thirdArticle-text{
    font-size: 36px;
}
.cards{
    display: flex;
    justify-content: space-between;
    width: 1285px;
    max-width: 100%;
    height: 280px;
}
.card1{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 299px;
    height: 260px;
    box-shadow: 1px 1px 10px black;
    border-radius: 8px;
     padding: 20px;

}
.card1-img{
    width: 65px;
    height: 56px;
}
.card2{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 299px;
    height: 260px;
    box-shadow: 1px 1px 10px black;
    border-radius: 8px;
    padding: 20px;
}
.card2-img{
    width: 65px;
    height: 56px;
}

.card3{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 299px;
    height: 260px;
    box-shadow: 1px 1px 10px black;
    border-radius: 8px;
    padding: 20px;

}
.card3-img{
    width: 65px;
    height: 56px;
}
/* fourth first section */
.fourthSection{
    width: 100%;
    height: 433px;
    margin-bottom: 50px;
}
.fourthArticle{
display: flex;
justify-content: center;
gap: 200px;
align-items: center;
}
.fourthArticle-text{
    width: 661px;
    height: 268px;
}
.fourthArticle-text button{
    width: 151px;
    height: 52px;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: white;
}
.fourthArticle-img{
    width: 442px;
    height: 433px;
}
/*fifth styles  section */
.fifthSection{
    display: flex;
    justify-content: center;
    height: 200px;
    max-width: 100%;
    background-color: #F5F7FA;
    height: 288px;
    margin-bottom: 70px;


}
.fifthArticle{

    display: flex;
    align-items: center;
    justify-content: space-around;
    

}
.fifthArticle-text{
    width: 540px;
    height: 120px;
}
.fifthArticle-dates-info{
    display: flex;
    align-items: center;
    gap: 10px;
}
.fifthArticle-dates{
    width: 540px;
    height: 160px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
/*sixth styles  section */

.sixthSection{
    width: 100%;
    height: 434px;
    margin-bottom: 70px;
}
.sixthArticle{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 200px;
}
.sixthArticle-img{
    width: 441px;
    height: 434px;
}
.sixthArticle-text{
    width: 661px;
    height: 308px;
}
.sixthArticle-text button{
    width: 151px;
    height: 52px;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: white;
}
/*seventh styles  section */

.seventhSection{
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 390px;
    background-color: #F5F7FA;
}
.seventhArticle{
    display: flex;
    justify-content:center;
    gap: 150px;
}
.seventhArticle-text{
width: 748px;
height: 324px;

}
.seventhArticle-text h4{
color: #4CAF4F;
}
.seventhArticle-container{
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
}
.seventhArticle-container a{
text-decoration: none;
color: #4CAF4F;

}
.seventhArticle-logos{
    display: flex;
    gap: 20px;
}
.seventhArticle-img{
    width: 326px;
    height: 326px;
}
/*eight styles section */

  .sectionEight{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        height: 506px;
    }

    .sectionEight h2{
        color: #4D4D4D;
        font-size: 36px;
        font-weight: 600;
        margin: 0px;
    }

    .sectionEight p{
        color: #717171;
        font-size: 16px;
        font-weight: 400;
        margin: 0px;
        width: 628px;
        text-align: center;
    }

    .sectionEight__container{
        margin-bottom: 70px;
        display: flex;
        gap: 30px;
    }
    .sectionEight__container__card{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .sectionEight__container__card img{
        width: 368px;
        height: 286px;
    }

    .sectionEight__container__card__text{
        width: 317px;
        height: 176px;
        margin-top: -88px;
        background-color: #F5F7FA;
        border-radius: 8px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .sectionEight__container__card__text p{
        height: 84px;
        width: 285px;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
    }

    .sectionEight__container__card__bottom{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
    }

    .sectionEight__container__card__bottom:hover{
        background-color: #ffff;
    }

    .sectionEight__container__card__bottom a{
        text-decoration: none;
        color: #4CAF4F;
    }

    .sectionEight__container__card__bottom img{
        height: 24px;
        width: 24px;
    }

/*ninth styles section */

.ninthSection{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #F5F7FA;
    width: 100%;
    height: 400px;
}
.ninthArticle{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.ninthArticle button{
    width: 128px;
    height: 52px;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    border: 1px solid #4CAF4F;
    color: white;
}
.ninthSection h1{
    text-align: center;
    font-size: 64px;
}
/*footer styles section */

.footer {
  background-color: #25252d;
  padding: 70px 0;
  color: #fff;
  font-family: Arial, sans-serif;
}

.footer__container {
  height: 200px;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  gap: 200px;
}
.footer__brand{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.footer__brand h2 {
  font-size: 28px;
}

.footer__columns {
  display: flex;
  gap: 200px;
}

.footer__col {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.footer__col h4 {
   margin: 0px;
  margin-bottom: 10px;
  font-size: 16px;
}

.footer__col a {
  color: #c8c8cb;
  text-decoration: none;
  font-size: 14px;
}

.footer__col a:hover {
  text-decoration: underline;
}
.footer-text{
    padding: 10px;
    border-radius: 8px;
}


@media (max-width: 1024px) {
    .navbar {
        width: 90%;
    }


    .header {
        gap: 50px;
    }
    .fisrtArticle, .fourthArticle, .sixthArticle, .seventhArticle {
        gap: 50px;
        padding: 0 20px;
    }
    .firstSection-left {
        width: 50%;
    }
    .firstSection h1 {
        font-size: 40px;
    }
    .cards {
        width: 100%;
        justify-content: center;
        gap: 20px;
    }
    .footer__container {
        gap: 50px;
        padding: 0 20px;
    }
}

@media (max-width: 768px) {
    .navbar-a {
        display: none; 
    }

    .fisrtArticle, .fourthArticle, .sixthArticle, .seventhArticle {
        flex-direction: column-reverse;
        text-align: center;
        height: auto;
        padding: 40px 20px;
    }

    .firstSection, .fourthSection, .sixthSection, .seventhSection {
        height: auto;
    }

    .firstSection-left, .fourthArticle-text, .sixthArticle-text, .seventhArticle-text {
        width: 100%;
        height: auto;
    }

    .cards {
        flex-direction: column;
        align-items: center;
        height: auto;
    }

    .fifthArticle {
        flex-direction: column;
        height: auto;
        padding: 40px 0;
        text-align: center;
    }

    .fifthArticle-dates {
        width: 100%;
        margin-top: 30px;
    }

    .footer__container {
        flex-direction: column;
        height: auto;
        text-align: center;
        align-items: center;
    }

    .footer__columns {
        gap: 40px;
        flex-wrap: wrap;
        justify-content: center;
    }
}


@media (max-width: 480px) {
    .firstSection h1 {
        font-size: 32px;
    }
    
    .firstSection-img, .fourthArticle-img, .sixthArticle-img, .seventhArticle-img {
        width: 100%;
        height: auto;
    }

    .secondArticle-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr); 
        gap: 20px;
        padding: 0 20px;
    }

    .fifthArticle-dates {
        grid-template-columns: 1fr; 
        gap: 20px;
    }

    .ninthSection h1 {
        font-size: 36px;
    }
    
    .eightArticle-cards {
        flex-direction: column;
        align-items: center;
    }
}


    